{% load static %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static "gstbillingapp/bootstrap-4.4.1-dist/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "gstbillingapp/main.css" %}">

	<title>GST Billing</title>
</head>

<body>

	<div class="container">
		<!-- Content here -->

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">GST Billing</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>


		<h2>Create Invoice</h2>

		<form target="/" method="POST">

			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="table-active" scope="col" colspan="4">Invoice Details</th>
					</tr>
				</thead>

				<tbody class="two-col-form">
					<tr>
						<th scope="row">Invoice Number</th>
						<td class="form-input-td"><input name="invoice-number" type="number" class="form-control" placeholder="Invoice Number"></td>
						<th scope="row">Date</th>
						<td class="form-input-td"><input name="invoice-date" type="date" class="form-control" placeholder="Date"></td>
					</tr>
				</tbody>
			</table>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="table-active" scope="col" colspan="4">Customer Details</th>
					</tr>
				</thead>

				<tbody class="two-col-form">
					<tr>
						<th scope="row">Customer Name</th>
						<td class="form-input-td"><input name="customer-name" type="text" class="form-control" placeholder="Customer Name"></td>
						<th scope="row">Customer Address</th>
						<td class="form-input-td"><input name="customer-address" type="text" class="form-control" placeholder="Customer Address"></td>
					</tr>
					<tr>
						<th scope="row">Customer Mobile Number</th>
						<td class="form-input-td"><input name="customer-phone" type="tel" class="form-control" placeholder="Customer Mobile Number"></td>
						<th scope="row">Customer GST</th>
						<td class="form-input-td"><input name="customer-gst" type="text" class="form-control" placeholder="Customer GST"></td>
					</tr>

				</tbody>
			</table>

			<table class="table table-bordered" id="invoice-form-items-table">
				<thead>
					<th class="table-active" scope="col" colspan="7">Items</th>

					<tr>
						<th scope="col">Sl No.</th>
						<th scope="col">Product</th>
						<th scope="col">HSN</th>
						<th scope="col">Unit</th>
						<th scope="col">Qty</th>
						<th scope="col">Rate with GST</th>
						<th scope="col">GST %</th>
					</tr>
				</thead>
				<tbody id="invoice-form-items-table-body">
					<tr>
						<td class="invoice-item-slno">1</td>
						<td class="form-input-td"><input name="1-invoice-product" type="text" class="form-control" placeholder="Product"></td>
						<td class="form-input-td"><input name="1-invoice-hsn" type="text" class="form-control" placeholder="HSN"></td>
						<td class="form-input-td"><input name="1-invoice-unit" type="text" class="form-control" placeholder="Unit"></td>
						<td class="form-input-td"><input name="1-invoice-qty" type="number" class="form-control" placeholder="Qty"></td>
						<td class="form-input-td"><input name="1-invoice-rate-with-gst" type="number" class="form-control" placeholder="Rate witd GST"></td>
						<td class="form-input-td"><input name="1-invoice-gst-percentage" type="number" class="form-control" placeholder="GST %"></td>
					</tr>
				</tbody>
			</table>
			{% csrf_token %}
			<button class="btn btn-primary" id="invoice-form-addrow">+</button>
			<button type="submit" class="btn btn-primary">Submit</button>

		</form>


	</div>




	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="{% static "gstbillingapp/bootstrap-4.4.1-dist/js/bootstrap.min.js" %}"></script>
	<script src="{% static "gstbillingapp/main.js" %}"></script>
</body>
</html>