{% extends "gstbillingapp/base.html" %}

{% load static %}



{% block content %}

<div class="container">
	<div class="card">
		<div class="card-header">
			<div class="row">
			<div class="col-sm-6"><strong>Invoice Date: {{invoice.invoice_date}}</strong></div> 
			<div class="col-sm-6 text-right"><strong>Invoice No:{{invoice.invoice_number}}</strong></div>
			</div>
		</div>

		<div class="card-body">
			<div class="row mb-4">


				<div class="col-sm-6">
					<div>
						<strong>GHOSH GHOSH & GHOSH FOODS</strong>
					</div>
					<div>TRISULAPATTY, BOLPUR</div>
					<div>BIRBHUM, WEST BENGAL, 731204</div>
					<div>EMAIL: ghoshghoshandghoshfoods@gmail.com</div>
					<div>Phone: 8597902931, 7319452127, 9002589189</div>
					<div>GST No: 19AAQFG0367G1Z5</div>
				</div>



				<div class="col-sm-6">
					<h6 class="mb-3">Billed To:</h6>
					<div>
						<strong>{{ invoice_data.customer_name }}</strong>
					</div>
					<div>{{ invoice_data.customer_address }}</div>
					<div>Phone: {{ invoice_data.customer_phone }}</div>
					<div>GST No: {{ invoice_data.customer_gst }}</div>
				</div>



			</div>

			<div class="table-responsive-sm">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-left">Item</th>
							<th class="text-center">HSN / SAC</th>
							<th class="text-center">Unit</th>
							<th class="text-right">Qty</th>
							<th class="text-right">Rate</th>
							<th class="text-right">Taxable Amount</th>
							<th class="text-right">GST</th>
							<th class="text-right">CGST</th>
							<th class="text-right">SGST</th>
							<th class="text-right">IGST</th>
							<th class="text-right">Total Amount</th>

						</tr>
					</thead>
					<tbody>
						{% for item in invoice_data.items %}
						<tr>
							<td class="text-center">{{ forloop.counter }}</td>
							<td class="text-left strong">{{ item.invoice_product }}</td>
							<td class="text-center">{{ item.invoice_hsn }}</td>
							<td class="text-center">{{ item.invoice_unit }}</td>
							<td class="text-right">{{ item.invoice_qty }}</td>
							<td class="text-right">{{ item.invoice_rate_without_gst }}</td>
							<td class="text-right">{{ item.invoice_amt_without_gst }}</td>
							<td class="text-right">{{ item.invoice_gst_percentage }} %</td>
							<td class="text-right">{{ item.invoice_amt_cgst }}</td>
							<td class="text-right">{{ item.invoice_amt_sgst }}</td>
							<td class="text-right">{{ item.invoice_amt_igst }}</td>
							<td class="text-right">{{ item.invoice_amt_with_gst }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-lg-4 col-sm-5">

				</div>

				<div class="col-lg-4 col-sm-5 ml-auto">
					<table class="table table-clear">
						<tbody>
							<tr>
								<td class="text-left">
									<strong>SGST</strong>
								</td>
								<td class="text-right">{{invoice_data.invoice_total_amt_sgst}}</td>
							</tr>
							<tr>
								<td class="text-left">
									<strong>CGST</strong>
								</td>
								<td class="text-right">{{invoice_data.invoice_total_amt_cgst}}</td>
							</tr>
							<tr>
								<td class="text-left">
									<strong>IGST</strong>
								</td>
								<td class="text-right">{{invoice_data.invoice_total_amt_igst}}</td>
							</tr>
							<tr>
								<td class="text-left">
									<strong>Total</strong>
								</td>
								<td class="text-right">
									<strong>{{ invoice_data.invoice_total_amt_with_gst }}</strong>
								</td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>

		</div>
	</div>

	<button onclick="window.print();" class="btn btn-primary d-print-none">Print Invoice</button>
</div>

{% endblock %}
