{% extends "gstbillingapp/base.html" %}

{% load static %}



{% block content %}

		<h2>Invoices</h2>

		<table class="table table-bordered">
		<tbody class="two-col-form">
			{% for invoice in invoices %}
			<tr>
 				<td>{{invoice.id}}</td>
 				<td>{{invoice.invoice_number}}</td>
 				<td>{{invoice.invoice_date}}</td>
 				<td>{{invoice.invoice_customer}}</td>
 				<td><a href="{% url 'invoice_viewer' invoice.id %}"><button type="button" class="btn btn-primary">View</button></a></td>
			</tr>
			{% endfor %}
		</tbody>
		</table>


{% endblock %}
